# Unity関連
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

build/
Build/

Assets/TextMesh Pro/Fonts

# VSCode
.vscode/

# Unity生成ファイル
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# OSごとのファイル
.DS_Store
Thumbs.db

# バックアップ
*.bak
*.tmp
*.old