# Unity関連
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

build/
Build/

Assets/TextMesh Pro/Fonts
FMOD_2024/.cahae

Assets/TextMesh Pro/Examples & Extras/Fonts/StarJedi Special Edition SDF.asset
Assets/TextMesh Pro/Examples & Extras/Fonts/good times rg SDF.asset
Assets/TextMesh Pro/Fonts/GauFontLoveRocketNeo SDF.asset
Assets/TextMesh Pro/Fonts/GL-Antique SDF.asset
Assets/TextMesh Pro/Fonts/NotoSansJP-Regular SDF.asset

Assets/TextMesh Pro/Resources/Fonts & Materials/charged_insomia_by_est_71 SDF.asset
Assets/TextMesh Pro/Resources/Fonts & Materials/digital-7 SDF.asset
Assets/TextMesh Pro/Resources/Fonts & Materials/ionic SDF.asset



# VSCode
.vscode/

# Unity生成ファイル
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# OSごとのファイル
.DS_Store
Thumbs.db

# バックアップ
*.bak
*.tmp
*.old